/* ----------------------------------------
 * main
 * --------------------------------------*/
.body {}

.main {
    flex-wrap: wrap;
    width: auto;
    min-width: 350px;
}

.contentWrapper {
    text-align: center;
}

.buttonLeft {}

/* ----------------------------------------
 * フッター
 * --------------------------------------*/
