$color-base: #FBFBFB;
$color-main: #FFC831;
$color-accent: #F04820;
$color-letter: #283890;

.body {
    font-size: 62.5%;
    min-width: 400px;
}

.main {
    background-color: $color-base;
    text-align: center;
}

/* ----------------------------------------
 * トップページ
 * --------------------------------------*/
.topWrapper {
    width: 80%;
    margin: 0 auto;
}

.announce {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 30px;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.selectButton {
    background-color: $color-main;
    border-style: solid;
    border-color: $color-letter;
    color: $color-letter;
    font-size: 1rem;
    font-weight: bold;
    width: 40%;
    height: 150px;
    padding: 20px;

    &--left {
        border-radius: 20px 0 0 20px;
        border-width: 5px 1px 5px 5px;
    }

    &--right {
        border-radius: 0 20px 20px 0;
        border-width: 5px 5px 5px 1px;
    }
}

.text02 {
    font-size: 2rem;
}

.text03 {
    text-align: right;
}

.text04 {
    font-size: 1rem;
    padding-bottom: 10px;
}

.smokingIcon {
    width: 50px;
    margin: 0 auto;
}

.icon {
    height: 50px;
    width: 50;
}

.searchButtonParent {
    text-align: center;
}

.searchButton {
    width: 80%;
    padding: 20px 0;
    margin: 40px 0 10px 0;
    background-color: $color-accent;
    border: 1px solid #C64525;
    border-radius: 10px;
    color: $color-base;
    font-weight: bold;
    font-size: 1.0rem;
}

/* ----------------------------------------
 * 検索結果画面
 * --------------------------------------*/

.header {
    background-color: $color-main;
}

.header__text {
    text-align: center;
    padding: 12px 0;
    font-size: 1.8rem;
    color: $color-letter;
    font-weight: bold;
}

.shopInfoWrapper {
    width: 80%;
    margin: 0 auto;
}

/* ----------------------------------------
 * shopInfo__heading
 * --------------------------------------*/
.shopInfo__heading {
    padding: 30px 0 20px 0;
}

.shopGenreCatch {
    color: red;
    font-weight: bold;
    font-style: italic;
}

.shopName {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 5px;
}

.shopGenreName {
    display: inline-block;
    border: 1px solid #808080;
    border-radius: 5px;
    margin: 8px 0;
    padding: 2px 10px;
}

.shopInfo__shopImage img {
    margin: 5px auto;
}

.creditImage {
    text-align: right;
}

/* ----------------------------------------
 * shopInfo__detail
 * --------------------------------------*/
.table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid $color-main;
}

.table__head {
    background-color: $color-main;
    color: $color-letter;
    font-size: 1rem;
    padding: 2px 8px;
}

.table__data {
    font-size: 0.8rem;
    padding: 8px 15px;
}

.linkParent {
    width: 100%;
    text-align: center;
}

.link {
    display: inline-block;
    font-weight: bold;
    font-size: 1rem;
    padding: 18px 0;
    color: #000000;
}

.googleMap {
    width: 100%;
    text-align: center;
    margin: 15px 0 30px 0;
}

/* ----------------------------------------
 * footer
 * --------------------------------------*/
.footer {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    background-color: $color-letter;
    color: $color-base;
    width: 100%;
    margin-top: 40px;
    padding: 20px;
}

.creditLink {
    color: $color-base;
}
